<%= render 'validationerrors' %>

<%= form_for @event, html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control", autofocus: true,placeholder: 'Name your event', autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, autocomplete: "off",placeholder: 'Fill in a location',class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price, autocomplete: "off",placeholder: 'How much will it cost',class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :size %><br />
    <%= f.number_field :size, autocomplete: "off",placeholder: 'How many people can attend',class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, autocomplete: "off",placeholder: 'What is going to happen',class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url, autocomplete: "off",placeholder: 'link a relevant image',class: "form-control" %>
  </div>
  <h4> Is the Event going on as planned</h4>
  <div class="field">
    <%= f.label :active %> <%= f.check_box :active %>
  </div>
  <h4> Amnities</h4>

  <div class="field">
    <%= f.label :includes_food %> <%= f.check_box :includes_food %>
    <%= f.label :includes_drinks %> <%= f.check_box :includes_drinks %>
  </div>
  <h4>Categories</h4>


  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
    <div class="form-group">
      <%= b.check_box(class: "check_box") %> <%= b.object.name %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :starts_at %><br />
    <%= f.date_field :starts_at, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br />
    <%= f.date_field :ends_at, class: "form-control" %>
  </div>
  <label>Photos</label>

  <div class="form-group">
    <span class="btn btn-default">
      Upload Photos
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </span>
  </div>

  <br />
  <div class="actions">
    <%= f.submit (@event.new_record? ? "Create" : "Update"), class: "btn btn-primary" %>
  </div>
  <div id="photos">
  <%= render 'photos/list' %>
</div>

<% end %>
