<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h1><%= @event.name %></h1><br>
    <h4> The event will run from <%=@event.starts_at.strftime("%Y - %B - %d") %> until <%=@event.ends_at.strftime("%Y - %B - %d") %> hosted by <%=  @owner.profile ? @owner.profile.full_name : @owner.email %></h4>
    <%= image_tag @event.image_url, class: "foreground_image" %>
    <p> <%= @event.description%><br> Price is <%= @event.price%></p>
    <% if @event.includes_drinks && @event.includes_food %>
      <p> Drinks and food are included</p>
    <% elsif @event.includes_drinks %>
      <p> Drinks are included</p>
    <% elsif @event.includes_food %>
      <p> Foods is included</p>
    <% else %>
      <p> Drinks and food are not included</p>
    <% end %>
    <% @event.categories.each do |category| %>
      <%= link_to category.name, category_path(category.id), class:"btn btn-default" %>
    <% end %>
    <br>
    <% if current_user
      if @valid_user %>
        <%=link_to "Edit event", edit_event_path, class:"btn btn-primary" %><br>
        <%= link_to "Delete", event_path(@event.id), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger"%>
      <%else%>
        <%= link_to "Join event", event_path, class:"btn btn-primary"%>
      <%end
    else %>
      <%= link_to "Log in", new_user_session_path, class:"btn btn-primary"%>
      <%= link_to "No account? Sign up now!", new_user_registration_path, class:"btn btn-danger btn-extended"%>
    <%end%>


  </div>
  <h4>Photos</h4>
  <div class="rows col-md-12">
    <% @event.photos.each do |photo| %>
      <div class="col-md-4"><%= image_tag photo.image,  class:"photos"%></div>
    <% end %>
  </div>
</div>
