<div class = "col-md-12 text-center">
  <h1>CodaisseurUp</h1>

  <img src = "http://res.muenchen-p.de/.imaging/stk/responsive/galleryPreview980/dms/va-2017/tollwood-2017/teaser/tollwood-2017-hp-01/document/tollwood-2017-hp-01.jpg" class= "background_image"/>

  <div class = "tophome">

    <br>
    <p class="double_size text-center">
      <%= image_tag @random.image_url, class: "foreground_image stretch_image" %>
      <h3><%= @random.name%></h3>
    <p> <%= @random.description%> <br>price is <%= @random.price%> Euro</p>
    <%= link_to "More", event_path(@random.id) ,class: "btn btn-default"%>
    </div>
</div>
<br>
<div class= "row">
  <div class= "col-md-12 text-center "><h2>Current Events</h2>
    <h4> Events starting in the next few weeks</h4>
  </div>
    <% @lastthreevents.each do |event| %>
  <div class= "col-md-4 ">
      <%= image_tag event.image_url, class: "foreground_image" %>
      <h3><%= event.name%></h3>
    <p> <%= event.description%> <br>price is <%= event.price%> Euro</p>
    <%= link_to "More", event_path(event.id) ,class: "btn btn-default"%>
  </div>
<% end%>
  <!-- <div class= "col-md-4">
    <img src = "http://res.muenchen-p.de/.imaging/stk/responsive/galleryPreview980/dms/va-2017/tollwood-2017/teaser/tollwood-2017-hp-01/document/tollwood-2017-hp-01.jpg" class= "foreground_image"/>
    <h3>event title2</h3>
    <p> test2</p>
    <%= link_to "More", "show" ,class: "btn btn-default"%>
  </div>
  <div class= "col-md-4">
    <img src = "http://res.muenchen-p.de/.imaging/stk/responsive/galleryPreview980/dms/va-2017/tollwood-2017/teaser/tollwood-2017-hp-01/document/tollwood-2017-hp-01.jpg" class= "foreground_image"/>
    <h3>event title3</h3>
    <p> test3</p>
    <%= link_to "More", "show" ,class: "btn btn-default"%>
  </div> -->
</div>
<br><br>

<div class="row blue">
  <div class= "col-md-12 text-center ">
    <img src = "http://res.muenchen-p.de/.imaging/stk/responsive/galleryPreview980/dms/va-2017/tollwood-2017/teaser/tollwood-2017-hp-01/document/tollwood-2017-hp-01.jpg" class= "foreground_image"/>
  <div class="col-md-6 text-center">
    <h3>Look for an event</h3>
    <p> There are a lot of niche events, something for everyone</p>

    <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:search, "Search for:") %>
      <%= text_field_tag :search, params[:search], placeholder: "enter event name"%>
      <%= submit_tag("Search",class:"btn btn-primary")  %>
    <% end %>
    </div>
  </div>
</div>
